@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-jakarta);
  --font-serif: var(--font-fraunces);
}

@theme {
  /* Biru*/
  --color-primary: #1e3f8f;
  --color-primary-dark: #142a6b;
  --color-primary-light: #2f55a7;
  --color-primary-deepdark: #1A2D5D;

  /* Emas */
  --color-accent: #f7c948;
  --color-accent-light: #fbd97a;
  --color-accent-dark: #d9a92b;

  /* Deep dark */
  --color-surface-deep: #111f47;
}

::-webkit-scrollbar {
  display: none;
}
html {
  scrollbar-width: none;
}