@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-jakarta);
  --font-serif: var(--font-fraunces);
}

@theme {
  /* Biru*/
  --color-primary: #1e3f8f;
  --color-primary-dark: #142a6b;
  --color-primary-light: #2f55a7;

  /* Emas */
  --color-accent: #f7c948;
  --color-accent-light: #fbd97a;
  --color-accent-dark: #d9a92b;

  /* Deep dark */
  --color-surface-deep: #111f47;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

.sembunyikan-scrollbar {
  /* Firefox */
  scrollbar-width: none;
  /* Internet Explorer & Edge lama */
  -ms-overflow-style: none;
}

/* Chrome, Edge, Safari */
.sembunyikan-scrollbar::-webkit-scrollbar {
  display: none;
}